# certificates from dap-py
.cert

# scripts
*.sh

# python/jupyter stuff
.ipynb_checkpoints
__pycache__

# Mac stuff
.DS_Store

# Output data
data/
*.csv
*.nc
*.pkl
*.pickle

# Output graphics
figures/
*.png
*.mp4
*.pdf

# LaTeX/beamer output files
*.aux
*.log
*.bbl
*.blg
*.nav
*.out
*.snm
*.synctex.gz
*.toc
